@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto-Regular.ttf);
}
body {
	min-width: 320px;
	background: #fbfbfb;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px;
}
header {
	position: relative;
	z-index: 2;
	background: #fff;
	box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
	font-size: 15px;
}
/*headlines*/
.header-name {
	font-size: 30px;
	color: #2ca6b8;
	text-transform: uppercase;
}
.header-name:first-letter {
	background: url('../img/first-letter.png') no-repeat;
	padding: 5px 18px 7px 19px;
	margin-right: -15px;
}
.header-white {
	font-size: 30px;
	color: #fff;
}
.header-small {
	color: #2ca6b8;
	font-size: 16px;
	text-transform: uppercase;
}
/*logo*/
.logo {
	text-align: center;
}
.logo img {
	width: 110px;
	height: 89px;
}
/*info*/
.bar {
	padding: 8px;
}
.bar > div{
	display: inline-block;
}
.bar > div:first-child {
	padding-right: 30px;
}
.ico {
	height: 18px;
	width: auto;
	padding-right: 10px;
}
.bar span {
	padding: 5px;
}
/*menu*/
.menu {
	padding: 0;
}
.nav li a {
	font-size: 14px;
	color: #2ca6b8;
	text-transform: uppercase;
	padding: 12px 24px;
}
.nav .active a,
.nav li a:hover {
	color: #fff ;
	background-color: #61bcca; 
}
/*language*/
.lang {
	min-width: 38%;
	text-align: right;
}
.lang img {
	width: 32px;
	height: auto;
	border: 4px solid #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
}
.lang img:hover,
.lang .active img{
	border-color: #61bcca;
	background-color: #61bcca;
}

/*slider*/
.carousel {
	overflow: hidden;
}
.carousel-inner > .item > img {
	width: 100%;
}
.carousel > .controls {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 1170px;
	margin: auto;
}
.carousel-control {
	bottom: 50%;
	top: 50%;
	opacity: 0.8;
}
.carousel-control.left span,
.carousel-control.right span{
	width: 100px;
	height: 100px;
	margin-top: -50px;
	background: #60c2d3 url('../img/next.png') 50% no-repeat;
	background-size: 60%;
}
.carousel-control.left span {
	transform: rotate(180deg);
}


/*service-menu*/
.service-menu {
	position: relative;
	top: -50px;
	max-width: 965px;
	margin: -50px auto;
	padding: 0;
	border-radius: 2px;
	border: 2px solid #f8f9f1;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.25);
	background-color: #fff;
	font-size: 0;    
	text-align: center;
}
.service-menu li {
	display: inline-block;
	padding: 25px 15px;
	width: 20%;
	font-size: 12px;
	color: #2ca6b8;
	text-align: center;
	vertical-align: top;
	text-transform: uppercase;
}
.service-menu .img-wrapper {
	position: relative;
	display: inline-block;	
	width: 100%;
	margin-bottom: 25px;
}
.service-menu .img-wrapper img {
	display: block;
	width: 132px;
	height: 117px;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.25);
}
.service-menu .img-wrapper:hover .overlay {
	display: block;
}
.service-menu .img-wrapper .overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 132px;
	height: 117px;
	margin: auto;
	background: rgba(0, 0, 0, .7);
}
.service-menu .img-wrapper .overlay span {
	display: block;
	width: 95px;
	padding: 10px;
	background-color: #2ca6b8;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 40px;
	color: #fff;
}

/*about*/
.about {
	width: 100%;
	min-height: 500px;
	background-image: url('../img/Lufthansa-airfreight-12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
}
.about .text {
	padding-left: 14px;
	padding-top: 30px;
	width: 60%;
}

/*advantages*/
.advantages {
	width: 100%;
	padding: 40px 0 25px;
	background-image: url('../img/ship.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 0;
}
.advantages .adv-item {
	width: 50%;
	display: inline-block;
	padding: 0 10px;
	text-align: left;
	font-size: 16px;
}
.advantages .adv-item-number {
	font-weight: bold;
	font-size: 180px;
	color: #60c2d3;
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.advantages .adv-item-text {
	display: table-cell;
	vertical-align: middle;
	max-width: 340px;
}

/*blog-slider*/
.blog-slider {
	padding: 30px 0;
	overflow: hidden;
}
.blog-slider .owl-element {
	border: 1px solid #d7d7d7;
	border-radius: 1px;
	text-align: center;
	border-radius: 1px;
	overflow: hidden;
}
.blog-slider .owl-item .owl-text {
	padding: 20px 10px;
	text-align: left;
	font-size: 14px;
}
.blog-slider .owl-item .owl-text span {
	display: block;
	font-size: 12px;
	margin-bottom: 20px;
}
.blog-slider .owl-item a.overlay {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.blog-slider .owl-item:hover a.overlay {
	display: block;
	background: rgba(0, 0, 0, .7);
}
.blog-slider .owl-item a.overlay span {
	position: relative;
	top: 50%;
	display: block;
	width: 195px;
	margin: -20px auto;
	padding: 15px;
	background-color: #2ca6b8;
	border-radius: 3px;
	color: #fff;
}
/*nav in blog slider*/
.blog-slider .owl-nav div {
	position: absolute;
	top: 50%;
	width: 45px;
	height: 45px;
	margin-top: -22px;
	background: #60c2d3 url(../img/next.png) 50% no-repeat;
	background-size: 60%;
}
.blog-slider .owl-nav .owl-prev {
	transform: rotate(180deg);
	left: -60px;
}
.blog-slider .owl-nav .owl-next {
	right: -60px;
}
.blog-slider .owl-dots {
	display: none;
	text-align: center;
}
.blog-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 10px 5px 0;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
}
.blog-slider .owl-dots .owl-dot.active {
	background-color: #60c2d3;
}

/*partners*/
.partners {
	padding: 35px 0;
	background-image: url('../img/trailer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.partners .header-name {
	text-transform: none;
	padding-bottom: 50px;
}
.partners p {
	max-width: 965px;
	margin: 0 auto;
}
.partners .partner-list {
	margin: 0;
	padding: 50px 0;
}
.partners .partner-list li {
	height: 170px;    
	line-height: 170px;
	list-style: none;
	text-align: center;
}
.partners .partner-list img{
	max-width: 100%;
	max-height: 170px;
}

/*application*/
.application {
	padding: 35px 0;
	background-image: url('../img/ship-app.jpg');
	background-repeat: no-repeat;
	background-size: cover;
} 
.application form {
	max-width: 965px;
	margin: 0 auto;
	padding: 50px 40px;
	background-color: #ffffff;
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.15);
}
.application form .control-label {
	padding-top: 17px;
}
.application form .control-label p {
	text-align: left;
}
.application form .header-small {
	padding: 0 0 50px;
	margin: -17px 0 0;
	text-align: left;
}
.application form .form-group:last-child {
	margin-bottom: 0;
}
.application form .download {
	text-align: center;
}
.application form a {
	display: inline-block;
	padding-top: 25px;
	color: #000;
	text-align: center;
	text-decoration: underline;
}
.application form button {
	width: 100%;
	padding: 25px;
	background-color: #2ca6b8;
	color: #fff;
	text-transform: uppercase;
} 
.application form input:not([type='checkbox']),
.application form textarea {
	width: 100%;
	padding: 29px;
	background-color: #f5f5f5;
	border: 1px solid #c2c2c2;
	border-radius: 0;   
}
.application form textarea {
	height: 160px;
	resize: none;
}
.checkbox label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 30%;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border: 1px solid #2e4054;
	border-radius: 2px;
	background-color: #f5f5f5;
}
.checkbox label {
	margin-left: 20px;
}
.checkbox label:before {
	border-radius: 3px;
}
.checkbox input[type=radio]:checked + label:before {
	content: "\2022";
	color: #000;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
}
.checkbox input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #000;
	text-align: center;
	line-height: 25px;
}
.checkbox input[type=checkbox] {
	display: none;
}





/* <= Large Devices*/
@media only screen and (max-width : 1280px) {
	.blog-slider .owl-nav {
		display: none;
	}
	.blog-slider .owl-dots {
		display: block;
	}
}

/* <= Medium Devices*/
@media only screen and (max-width : 992px) {
	header.container-fluid {
		text-align: center;
	}
	.carousel {
		box-shadow: 0 0 13px -2px rgba(0,0,0,.75);
	}
	.nav li a {
		padding: 10px 19px;
	}
	.lang {
		min-width: auto;
		text-align: right;
		padding-left: 15px;
	}
	.carousel-control.left span,
	.carousel-control.right span {
		width: 50px;
		height: 50px;
	}
	.service-menu {
		position: static;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	.service-menu > li {
		width: 30%;
	}
	.about {
		min-height: 450px;
	}
	.about .text {
		width: 80%;
	}
	.advantages .adv-item {
		width: 100%;
	}
	.advantages .adv-item-number {
		width: auto;
		padding-right: 30px;
		font-size: 100px;
	}
	.advantages .adv-item-text {
		max-width: none;
	}
}

/* <= Extra small Devices*/
@media only screen and (max-width : 480px) {
	.bar>div:first-child {
		padding-right: 0;
	}
	.service-menu > li {
		width: 50%;
	}
	.about .text {
		width: 100%;
	}
	.application form {
		padding: 30px 20px;
	}
	.application form .header-small {
		padding: 0 0 20px;
	}
	.application form input:not([type=checkbox]),
	.application form textarea {
		padding: 19px;
	}
}